body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg,#DD4055 0%, #F67451 50%, #CBDD7E 100%); /* w3c */
}

button {
  cursor: pointer;
}
